<div class="header">
<button routerLink="/productcreate/create" class="button">
    Add Product
</button>
<button routerLink="/productlist/producttable" class="button">
    Products table
</button>
<button routerLink="/productview" class="button">
    View Products
</button>
<button routerLink="/productcombined" class="button">
    Combined Products
</button>
<button routerLink="/constructor" class="button">
    Constructor
</button>
<button routerLink="/search" class="button">
    Search
</button>
<button routerLink="/pipe" class="button">
    Pipe
</button>
<button routerLink="/jquery" class="button">
    JQuery
</button>
<button routerLink="/htmlchallenge" class="button">
    htmlchallenge
</button>
</div>
<router-outlet></router-outlet>


